@namespace FlammableComponents
@inherits FlammableComponentBase

<div class="d-flex justify-content-between flex-wrap disable-selection">
    @if (DisplayRecordsSelector)
    {
        <div class="d-flex">
            <label class="col-form-label mr-2">Show entries</label>
            <div>
                <select @oninput="OnChangeShowEntries" class="form-control">
                    <option selected value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    }
    @if (DisplayTotalRecordsInfo)
    {
        <div class="d-flex">
            <label class="col-form-label">
                Showing
                @if (DisplayRecords == DisplayRows || DisplayRecords > 0)
                {
                    @(CurrentPage * DisplayRows - DisplayRows + 1)
                }
                else
                {
                    @TotalPages
                }
                to
                @if (CurrentPage <= TotalPages && TotalPages > 0)
                {
                    @if (CurrentPage == TotalPages)
                    {
                        @TotalRecords
                    }
                    else
                    {
                        @(CurrentPage * DisplayRows)
                    }
                }
                else
                {
                    @TotalPages
                }
                of @TotalRecords entries
            </label>
        </div>
    }
    <nav class="cursor-pointer">
        <ul class="pagination justify-content-center">
            @foreach (var link in Links)
            {
                <li @onclick="@(async() => await SelectedPageLinkAsync(link))"
                    class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
                    <span class="page-link" href="#">@link.Text</span>
                </li>
            }
        </ul>
    </nav>
</div>